.form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle:not(:focus) {
    outline: 0;
  }

.logo{
  height: 100px;
  width: 200px;
}

.btn-custom{
  background-color: #8C52FF;
  color: #fff;
  border-color:  #8C52FF !important ;
}

.btn-custom2{
  background-color: #ffffff;
  color: #000000;
  border-color:  #000000 !important ;
}

.btn-custom:hover {
  color: #ffffff;
  background-color: #8C52FF; 
}

.btn-custom2:hover {
  color: #000000;
  background-color: #ffffff; 
}

.nav-link{
  color: #000000;
}

.nav-link:hover{
  text-decoration: underline;
  color: #000000;
}

.btn-nav-custom:hover{
  text-decoration: underline;
}

.btn-nav-custom:focus{
  outline: none;
  box-shadow: none;
}

.cont-main1{
  height: 560px;
  width: 500px;

  display: flex;
  justify-content: center;
}

.titulo-main1{
  height: auto;
  width: 480px;
  
}

.btns-main1{
  padding: 10px;
}

.btn-log{
  background-color: #8C52FF;
  color: #fff;
  border-color:  #8C52FF !important ;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);

}

.btn-log:hover{
  background-color: #8C52FF;
  color: #fff;
  transform: scale(1.001);
}

.btn-log1{
  background-color: #ffffff;
  color: #000000;
  border-color:  #000000 !important ;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}

.btn-log1:hover{
  transform: scale(1.001);
}

.cont-main2{
  height: 560px;
  width: 500px;
  display: flex;
  justify-content: center;
}

.titulo-main2{ 
    height: auto;
    width: 480px;
    text-align: center;
}

#clin { 
  text-align: left;
}

.clinicas{
  padding: 5px;
}

.cont-main3{
  height: 560px;
  width: 100%;

  display: flex;
  justify-content: center;
}

.titulo-main3{
  height: auto;
  width: 100%;
  text-align: left;
}

#desc{
  font-size: xx-large
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0, 0, .15);
}

/* CREADORES DE CONTENIDO */
#portfolio {
  max-width: 1100px;
  padding: 100px 0;
  margin: auto;
}

#portfolio .titulo-seccion {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

#portfolio .fila {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  
}

#portfolio .fila .proyecto {
  max-width: 236px;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}

#portfolio .fila .proyecto img {
  width: 100%;
  height: 100%;
  ;
  filter: blur(2px);
  object-fit: cover;
  transition: .5s;
}

#portfolio .fila .proyecto:hover img {
  filter: grayscale(0);
}

#portfolio .fila .proyecto .info {
  position: absolute;
  left: 0px;
  background-color: #8C52FF;
  color: #ffffff;
  width: 100%;
  padding: 10px;
  opacity: 0;
  bottom: -40px;
  transition: .5s;
}

#portfolio .fila .proyecto:hover .info {
  opacity: 1;
  bottom: 0;
}

/* CREADORES DE CONTENIDO */

#portafolio .filass {

align-items: center;

}

.img-back{
  background-image: url("CTA.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  
  padding-top: 200px;
  padding-left: 20px;
  

}

.btn-log2{
  background-color: #ffffff;
  color: #8C52FF;
  border-color:  #8C52FF !important ;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.container-fluid.d-flex.flex-wrap{
  padding-top: 100px !important;
}

.clinics_asociations{
  background: #e7bffa;
  border-radius: 20px;
  padding: 10px;
}

.titulo_clinicas{
  margin-bottom: 15px;
    font-size: 45px;
}

.foot_containt{
  background: #000000;
  color: #fff;
  border-radius: 5px;
}

.col-2{
  outline: none;
}


.bi{
  color: #fff;
}

.container-fluid{
  font-size: 20px;
}

#dropdownMenuButton1{
  font-size: 20px;
}

#footer_left_text{
  display: block;
  top: 0;
  left: 0;
  padding-left: 100px;
}